* {
    /* background-color: #ffb948; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb948;
}

html,
body {
    min-height: 100vh;
    overflow: auto;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#canvas-controls-container {
    width: 804px;
    height: 100px;
    margin-bottom: 24px;

}

#canvas-controls {
    background-color: #1b1b1b;
    display: grid;
    grid-template-columns: 150px 136px 136px 136px;
    grid-template-rows: 36px 36px 36px;
    grid-template-areas: 
    "text . . ."
    "slidecontainer . . .";
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: inherit;
    padding-left: 6px;
    padding-right: 6px;
}

.text {
    font-size: 14px;
    color: antiquewhite;
    background-color: inherit;
}

.slidecontainer {
    background-color: inherit;
}


/* for now make it 32*32 grid */
#canvas {
    border: 18px solid #1b1b1b;
    /* Add 16pxx to account for pixel borders */
    width: 768px;
    height: 768px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.pixel {
    width: 16px;
    height: 16px;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.383);

    /* Prevent browser from displaying stop sign when clicking and dragging */
    /* https://stackoverflow.com/questions/51661036/mouseup-event-is-not-fired-when-you-release-button-on-another-element-or-somewhe */
    -webkit-user-select: none;          /* Chrome */
    -moz-user-select: none;             /* Firefox */
}
